@forward "./normalize";
@forward "./extend_primevue";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  font-size: 12px;
  font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--my-app-primary-600);
}
h3,
.h3 {
  font-size: 1.667rem;
  margin: 0;
  font-weight: 500;
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: 600;
}

.rotate-180 {
  transform: rotate(180deg);
}

button.custom-paginator-button {
  font-size: 0.7rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-mutted {
  color: var(--my-app-gray-400);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.d-block {
  display: block;
}

.space-y-4 {
  gap: 1rem;
}

.space-y-2 {
  gap: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
